<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1>This is our official website</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint corrupti, similique cum eos nihil aperiam? Obcaecati natus, velit, illum similique maxime voluptatem doloremque id temporibus provident incidunt officiis deleniti sequi.</p>
        <button>Contact US</button>
    </div>
</body>
</html>